.card-remotenes__desc-text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: white;
  margin-bottom: 26px;
}

.card-remotenes__desc-text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .card-remotenes__desc-text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .card-remotenes__desc-text {
    margin: 0 16px 25px 16px;
  }
}
