.cover__subtitle {
  position: relative;
  margin: 0 auto;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 360px;
  min-width: 288px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
