.footer__link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  transition: opacity .2s ease;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__link:hover {
  opacity: .4;
}
