.gallery__item-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 213px;
  transition: all .3s linear;
}

@media screen and (max-width: 1024px) {
  .gallery__item-container {
    max-height: 225px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__item-container {
    max-height: 264px;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .gallery__item-container {
    max-height: 216px;
  }
}

.gallery__item-container:hover {
  transform: scale(1.3) rotate(3deg);
  z-index: 1;
}

.gallery__item-container:nth-of-type(odd):hover {
  transform: scale(1.3) rotate(-3deg);
}

@media screen and (max-width: 1024px) {
  .gallery__item-container:nth-of-type(odd):hover {
    transform: none;
  }
  .gallery__item-container:hover {
    transform: none;
  }
}
