.cover__title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  text-align: center;
  max-width: 560px;
  min-width: 288px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
