.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 1280px;
  min-height: 18px;
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0 16px;
  }
}
